.match-settings-buttons label {
    display: inline-block;
    color: #307fb7;
    cursor: pointer;
    position: relative;
    padding-left: 0 !important;
}

.match-settings-buttons label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #307fb7;
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);

}

.match-settings-buttons label span:before {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #307fb7;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    left: 7px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.match-settings-buttons label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #307fb7;
    position: absolute;
    transform: rotate(305deg);
    top: 14px;
    left: 8px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.match-settings-buttons label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}
.match-settings-buttons label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.match-settings-buttons input[type="checkbox"] {
    display: none;
}
.match-settings-buttons input[type="checkbox"]:checked + label span {
    background-color: #fff;
    transform: scale(1.25);
    border: 2px solid green;
}

.match-settings-buttons input[type="checkbox"]:checked + label {
    color: green;
}

.match-settings-buttons input[type="checkbox"]:checked + label span:after {
    width: 10px;
    background: green;
    transition: width 150ms ease 100ms;
}
.match-settings-buttons input[type="checkbox"]:checked + label span:before {
    width: 5px;
    background: green;
    transition: width 150ms ease 100ms;
}
.match-settings-buttons input[type="checkbox"]:checked + label:hover span {
    background-color: #fff;
    transform: scale(1.25);
}
.match-settings-buttons input[type="checkbox"]:checked + label:hover span:after {
    width: 10px;
    background: green;
    transition: width 150ms ease 100ms;
}
.match-settings-buttons input[type="checkbox"]:checked + label:hover span:before {
    width: 5px;
    background: green;
    transition: width 150ms ease 100ms;
}
